/* header and menu*/

*{
	margin: 0px;
	padding: 0px;
	direction: rtl;
}
html{
	width: 100%;
	height: 100%;
	min-height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size:14px;
	min-height:100%;
	background-image: url("images/Elegant_Background-2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
#container{
	width:90%;
	height: 95%;
	margin: auto;
	
}
.header{
	height:10%;
	
}
nav{

	width:100%;
}
ul#MainMs{
	display: inline;
}
li{
	list-style-type:none;
	display:inline-block;
	position:relative;
	margin-right: 5%;
	margin-top: 2%
}
a{
	text-decoration: none;
	color:black;
	font-family: "Alef";
	font-size:1.3em;
}
ul.sub_menu{
	display:none;
	position: absolute;
	width:155%;
	right:-1em;
}
ul.sub_menu> li{
	display: block;
}
li:hover > ul.sub_menu{
	display: block;
}
li:hover{
	border-bottom: 0.5;
	color:#98FB98;
	border-bottom-style: solid;
}
.main_area{
	height: 80%;
}
.footer{
	height: 10%;
}
/*+++++++++++++++++++++++++++++++++++++*/

/* footer*/
div.footer{
	display:flax;
	flax-wrap:wrap;
	
}
/*div#YoutubeBtn{
	background-image: url("images/youtube.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:72%;
	display:inline-block;	
	margin-top:1%;
}
	
div#FacebookBtn{
	background-image: url("images/facebook_color.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width:4%;
	height:72%;
	display:inline-block;	
	margin-top:1%;
}*/
img#face{
	height: 5%;
}

	

/*===============Contact Form================*/
form{
	width: 44%;
	height:85%; 
	border: 5PX solid black;
	margin-top: 8%;
    margin-right: 28%;
	opacity: 0.5;
   	border-radius: 27%;
}
.form1{
	margin: auto;	
	display:block;
	
}
	

